<!doctype html>
<html>

  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style/styles.css">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>

  <body>
    <!--Navbar beginning-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">GroupRide</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--Navbar end-->

    <!--About GroupRide beginning-->
    <div class="jumbotron">
      <h1 class="display-4">What is GroupRide?</h1>
      <p class="lead">
        Ubers and Lyfts can be expensive, and finding a group that you’re
        comfortable splitting the ride and cost with is not always easy
        <br><br>
        GroupRide offers a solution to this problem in the form of a mobile
        social network application
      </p>
      <p>
        <a class="btn btn-lg btn-primary" href="login.html" role="button">Get Started &raquo;</a>
      </p>
    </div>
    <!-- About GroupRide end -->

    <!--About Us beginning -->
    <div class="jumbotron">
      <h1 class="display-4">About us</h1>
      <p class="lead">
        We are a group of fun RPI students building this open source project to solve the infamous
        rideshare problem our campus faces!
        <br><br>
        Fork us on Github!
        <br>
        <a class="github-button" href="https://github.com/zdward/GroupRideWeb/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork zdward/GroupRideWeb on GitHub">Fork</a>
      </p>
    </div>
  </body>
  <!--About Us end -->

<!--javascript at the bottom to improve efficiency-->
<script src="cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src=".../public/js/main.js"></script>

</html>
