<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <table class="table table-striped">
        <thead>
          <tr>
              <th>Ride Info</th>
              <th>Date and Time</th>        
            </tr>
          </thead>
          <tbody>
           <tr>
            <td>From:RPI Union<br/> To: Albany Ice Rink <br/> Ride Capcity: 4 <br/> Rider Name: John Smith </td>
            <td>April 13th , 6:00pm <a class="btn btn-hot btn-block " href="/" target="_blank"><i class="fa fa-hand-o-right"> Contact Rider</i></a></td>
          </tr>
         <tr>
            <td>From:RPI Union<br/> To: Albany Rolling Rink <br/> Ride Capcity: 6 <br/> Rider Name: Doe John</td>
            <td>April 13th , 6:00pm <a class="btn btn-hot btn-block " href="/" target="_blank"><i class="fa fa-hand-o-right"> Contact Rider</i></a></td>
          </tr>
              
          <tr>
            <td>From:RPI Union<br/> To: Albany Rolling Rink <br/> Ride Capcity: 6 <br/> Rider Name: Doe John</td>
            <td>April 13th , 6:00pm <a class="btn btn-hot btn-block " href="/" target="_blank"><i class="fa fa-hand-o-right"> Contact Rider</i></a></td>
          </tr>
              
              
          <tr>
            <td>From:RPI Union<br/> To: Albany Ice Rink <br/> Ride Capcity: 4 </td>
            <td>April 13th , 6:00pm <a class="btn btn-hot btn-block " href="/" target="_blank"><i class="fa fa-hand-o-right"> Contact Rider</i></a></td>
          </tr>
              
              
          <tr>
            <td>From:RPI Union<br/> To: Albany Ice Rink <br/> Ride Capcity: 4 </td>
            <td>April 13th , 6:00pm <a class="btn btn-hot btn-block " href="/" target="_blank"><i class="fa fa-hand-o-right"> Contact Rider</i></a></td>
          </tr>
              
              
        <tr>
            <td>From:RPI Union<br/> To: Albany Ice Rink <br/> Ride Capcity: 4 </td>
            <td>April 13th , 6:00pm <a class="btn btn-hot btn-block " href="/" target="_blank"><i class="fa fa-hand-o-right"> Contact Rider</i></a></td>
          </tr>
        
        </tbody>
      </table>
     </div>

    </div>

   </div>
		
      